<h2>Welcome to the YUI/ExpressJS demo site.</h2>

<p>This site is a working example of using <a href="http://nodejs.org/">NodeJS</a> with  <a href="http://developer.yahoo.com/yui/3/">YUI 3</a> &amp; <a href="http://expressjs.com">ExpressJS</a>.</p>

<p>The full source code for this example is available on my <a href="http://github.com/davglass/yui-express/">GitHub account</a></p>

<p>The purpose of this site, is to show the power of a live DOM on the server. Each of the links
to the left show a different use of Javascript on the server.</p>
