<div id="doc" class="yui-t1">
    <div id="hd" role="banner"><h1>{title}</h1></div>
    <div id="bd" role="main">
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g" id="content">
                </div>
            </div>
        </div>
        <div class="yui-b" id="nav">
            <ul>
                <li class="one"><a href="/one">Page One</a></li>
                <li class="two"><a href="/two">Page Two</a></li>
                <li class="three"><a href="/three">Page Three</a></li>
                <li class="digg"><a href="/digg">Digg Headlines</a></li>
                <li class="calendar"><a href="/calendar">YUI 2 Calendar</a></li>
                <li class="datatable"><a href="/datatable">YUI 2 Datatable</a></li>
                <li class="tabview"><a href="/tabview">YUI 3.x TabView</a></li>
                <li class="notice"><a href="/notice">Notice</a></li>
                <li class="github"><a href="/github">Github</a></li>
                <li class="home selected"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
   <div id="ft" role="contentinfo">&copy;2010 DavGlass.com - You can have it if you want it.</div>
</div>

