body, html {
    background-color: #ccc;
}

#hd {
    background-color: #22252A;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 1em 0;
    box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}
#hd h1 {
    color: #ccc;
    font-weight: bold;
    font-size: 150%;
    text-shadow: 3px 2px 2px #888;
    
}

#ft {
    margin-top: 10px;
    font-size: 80%;
}

.digg #content ul {
    margin-left: 20px;
}

.digg #content ul li {
    padding: 5px;
    list-style:square outside none;
}

#content p {
    padding: .25em;
    margin: 1em;
}

#nav a {
    display: block;
    border: 1px solid black;
    background-color: #22252A;
    color: #ccc;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#nav a:hover {
    box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}

#nav li.selected a {
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
}

#content h1, #content h2 {
    font-weight: bold;
    font-size: 120%;
    margin: 1em 0;
}
